<h1>Upload a new comic</h1>

<form action="/comics/create" method="POST">
<span>Title Name</span>
<br>
<input type="text" name="titleName" placeholder="(Action Comics, Detective Comics, etc...)">
<br><br>
<input type="submit" value="Submit">
</form>
