<div class="comics-new-page">
  <section>
    <div class="comics-new-header-row">
      <h2 class="comics-new-header-text">Upload a new comic.</h2>
    </div>
  </section>
  <hr class="comics-new-hr-tag-1">
  <section>
    <div class="comics-new-upload-row well">
      <div class="comics-new-upload-form-label-row">
        <label class="comics-new-issue-pages-label control-label" for="issuePages">Pages</label>
        <label class="comics-new-title-name-label control-label" for="titleName">Title Name</label>
        <label class="comics-new-issue-number-label control-label" for="issueNumber">Issue Number</label>
        <label class="comics-new-issue-tags-label control-label" for="issueTags">Tags</label>
      </div>
      <div class="comics-new-upload-form-row">
        <form action="/comics/create_preview" method="POST">

          <%# Issue Pages %>
          <a href="#" class="comics-new-issue-pages-input btn btn-default">Choose Files</a>

          <%# Title Name %>
          <input class="comics-new-title-name-input form-control" type="text" name="titleName" placeholder="Action Comics"/>

          <%# Issue Number %>
          <input class="comics-new-issue-number-input form-control" type="number" name="issueNumber" placeholder="1" min="1" max="9999">

          <%# Issue Tags %>
          <div class="comics-new-issue-tags-input">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Superhero">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Add</button>
              </span>
            </div>
          </div>

        </form>
      </div>
    </div>
  </section>
</div>


<%# <input type="submit" value="Submit">%>

<%# Hidden pages form %>
<%# <input class="comics-new-issue-pages-preview-input" type="file" name="issuePages" style="display:none;" multiple>
<script>
  $(".comics-new-issue-pages-input").click(function(){
    $(".comics-new-issue-pages-preview-input").click();
  });
</script>%>
