<div class="home-index-page">
    <section>
        <div class="carousel-row well">
            <div class="carousel-column">
                <div class="home-page-carousel">
                    <img src="images/carousel_1.jpg" class="home-page-carousel-image home-page-carousel-image-1">
                    <img src="images/carousel_2.jpg" class="home-page-carousel-image home-page-carousel-image-2">
                    <img src="images/carousel_3.jpg" class="home-page-carousel-image home-page-carousel-image-3">
                    <img src="images/carousel_4.jpg" class="home-page-carousel-image home-page-carousel-image-4">
                    <img src="images/carousel_5.jpg" class="home-page-carousel-image home-page-carousel-image-5">
                </div>
            </div>
            <div>
                <h2 class="carousel-welcome-text">Read vintage comics from the public domain.</h2>
            </div>
        </div>
    </section>

    <hr class="hr-tag-1">

    <section>
        <div class="comic-card-1-row">
            <div class="well">
                <p>comic card</p>
            </div>
        </div>
    </section>

    <hr class="hr-tag-2">

    <footer>
        <div class="footer-row">
            <h6 class="email-link-h6-wrapper"><a href="/">contact@public-comics.com</a></h6>
            <span class="pipe">|</span>
            <h6 class="twitter-link-h6-wrapper"><a href="/">twitter.com/public-comics</a></h6>
        </div>
    </footer>
</div>


<script type="text/javascript">
    function initializeSlickCarousel(){
        $('.home-page-carousel').slick({
            arrows: false,
            dots: true
        });
    }
    function addIdentifyingClassesToSlickDots(slickDots){
        $.each(slickDots, function(index, buttonTag){
            var dotNum = index + 1
            $(buttonTag).addClass('slick-dot-' + dotNum)
        });
    }
    $(document).ready(function(){
        initializeSlickCarousel();
        var waitForSlickDots = setInterval(function(){
            var slickDots = $("ul.slick-dots").find("button");
            if (slickDots.length === 5) {
                addIdentifyingClassesToSlickDots(slickDots);
                clearInterval(waitForSlickDots);
            }
        }, 100)
    });
</script>