<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Public Comics</title>
    <meta name="description" content="A website for reading comic books from the public domain.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="apple-touch-icon" href="">-->
    <!-- Place favicon.ico in the root directory -->
    <!--<link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">-->
    <script type="text/javascript" src="/scripts/bundle.min.js"></script>
</head>
<body>
<h1>Public Comics</h1>
<%- body %>
</body>
</html>
