@import "./node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "./node_modules/bourbon-neat/app/assets/stylesheets/_neat";

$black_lozenge_background_path: "../images/black_lozenge.png";
$txture_background_path: "../images/txture.png";
$bootswatch_blue: #2a9fd6;

body {
  @include background-image(url($txture_background_path));
  @include outer-container(55%);
}

.home-index-page {
  .home-index-header-row {
    @include span-columns(12 of 12);
    margin-top: 15px;

    .home-index-header-text-row {
      @include span-columns(12 of 12);
      text-align: center;
      margin-bottom: 10px;

      .home-index-header-text {
        font-family: 'GlacialIndifferenceRegular';
      }
    }

    .home-index-search-row {
      @include shift(3);
      @include span-columns(9 of 12);
      text-align: center;

      .home-index-search-bar {
        width: 75%;
      }
    }
  }

  .home-index-hr-tag-1, .home-index-hr-tag-2, .home-index-hr-tag-3 {
    @include span-columns(12);
  }

  .home-index-carousel-row {
    @include span-columns(12);
    margin-top: 10px;

    .home-index-carousel-wrapper {
      @include span-columns(12 of 12);
      text-align: center;
    }
  }

  .home-index-comic-card-row-1 {
    @include span-columns(12);
  }

  .home-index-footer-row {
    @include span-columns(12);
    text-align: center;

    .home-index-email-link-wrapper, .home-index-twitter-link-wrapper {
      display: inline-block;
    }
  }

  .slick-dots li button:before {
    font-size: 25px;
    color: whitesmoke;
  }

  .slick-dots li.slick-active button:before {
    color: $bootswatch_blue;
  }

  .slick-slide {
    width: 250px;
  }
}


.comics-new-page {
  .comics-new-header-row {
    @include span-columns(12 of 12);
    margin-top: 15px;
    text-align: center;
    font-family: 'GlacialIndifferenceRegular';
  }

  .comics-new-hr-tag-1 {
    @include span-columns(12);
  }

  .comics-new-upload-row {
    @include span-columns(12);

    .comics-new-upload-form-label-row {
      @include span-columns(12);

      .comics-new-issue-pages-label {
        @include span-columns(2 of 12);
      }

      .comics-new-title-name-label {
        @include span-columns(5 of 12);
      }

      .comics-new-issue-number-label {
        @include span-columns(2 of 12);
      }

      .comics-new-issue-tags-label {
        @include span-columns(3 of 12);
      }
    }

    .comics-new-upload-form-row {
      @include span-columns(12);

      .comics-new-issue-pages-input {
        @include span-columns(2 of 12);
      }

      .comics-new-title-name-input {
        @include span-columns(5 of 12);
      }

      .comics-new-issue-number-input {
        @include span-columns(2 of 12);
      }

      .comics-new-issue-tags-input {
        @include span-columns(3 of 12);
      }
    }
  }
}
